Repository kgolezardi/Performance-Review-Web: changes, and which lint-staged commands are due for each by the changed paths.
All: import-sort --write, prettier --write

feat: add ResultStartPage
  src/containers/main/MainRoutes.tsx
  src/locales/en/messages.po
  src/locales/fa/messages.po
  src/pages/start-page/BlackQuote.tsx
  src/pages/start-page/NoPeerReviewContent.mdx
  src/pages/start-page/NoPeerReviewPage.tsx
  src/pages/start-page/PeerStartReviewContent.mdx
  src/pages/start-page/PeerStartReviewPage.tsx
  src/pages/start-page/ResultStartCard.tsx
  src/pages/start-page/ResultStartPage.tsx
  src/pages/start-page/ResultStartPageContent.mdx
  src/pages/start-page/SelfStartReviewContent.mdx
  src/pages/start-page/SelfStartReviewPage.tsx
  src/pages/start-page/StartReviewCard.tsx
  src/pages/start-page/start-review.mutation.ts
Due: import-sort --write, prettier --write

fix: fix evaluation/comment count in CriterionResultPage
  src/pages/result-page/criteria-result-page/CriterionResultRatingGroup.tsx
Due: import-sort --write, prettier --write

fix: reset scroll whenever location changes
  src/shared/layouts/dashboard-layouts/DashboardLayout.tsx
  src/shared/utils/useResetScroll.ts
Due: import-sort --write, prettier --write

fix translation
  src/locales/fa/messages.po
Due: none

feat: improve printing the app
  src/App.tsx
  src/pages/result-page/ResultPage.tsx
  src/pages/result-page/criteria-result-page/CriterionResultExpansionPanel.tsx
  src/shared/expansion-panel/ExpansionPanelSummary.tsx
  src/shared/helper-text/HelperText.tsx
  src/shared/helper-text/index.ts
  src/shared/layouts/dashboard-layouts/DashboardLayout.tsx
  src/shared/layouts/dashboard-layouts/PrintingContext.tsx
  src/shared/multiline-output/MultilineOutput.tsx
  src/shared/section-guide/SectionGuide.tsx
  src/shared/tab/TabLink.tsx
  src/shared/tabs/Tabs.tsx
  src/shared/utils/usePrinting.ts
Due: import-sort --write, prettier --write

add flat-map
  src/_config/install.ts
Due: import-sort --write, prettier --write

add print route
  src/AppRouter.tsx
  src/containers/print/PrintContainer.tsx
  src/pages/result-page/PrintableResult.tsx
  src/pages/result-page/ResultPage.tsx
  src/shared/multiline-output/MultilineOutput.tsx
  src/shared/page-break/PageBreak.tsx
  src/shared/page-break/index.ts
  src/shared/section-guide/SectionGuide.tsx
Due: import-sort --write, prettier --write

feat: use iframe
  src/AppRouter.tsx
  src/containers/print/PrintContainer.tsx
  src/pages/result-page/PrintResultButton.tsx
  src/pages/result-page/ResultPage.tsx
  src/pages/result-page/ResultPrintPage.tsx
  src/shared/expansion-panel/ExpansionPanel.tsx
  src/shared/multiline-output/MultilineOutput.tsx
Due: import-sort --write, prettier --write

chore: show print button after 5s
  src/pages/result-page/PrintResultButton.tsx
  src/pages/result-page/ResultPrintPage.tsx
Due: import-sort --write, prettier --write

remove PrintingContextProvider from root
  src/App.tsx
  src/shared/layouts/dashboard-layouts/PrintingContext.tsx
Due: import-sort --write, prettier --write

Print Page (#296)
  src/AppRouter.tsx
  src/pages/result-page/PrintResultButton.tsx
  src/pages/result-page/ResultPage.tsx
  src/pages/result-page/ResultPrintPage.tsx
  src/pages/result-page/criteria-result-page/CriterionResultExpansionPanel.tsx
  src/shared/expansion-panel/ExpansionPanel.tsx
  src/shared/expansion-panel/ExpansionPanelSummary.tsx
  src/shared/helper-text/HelperText.tsx
  src/shared/helper-text/index.ts
  src/shared/layouts/dashboard-layouts/DashboardLayout.tsx
  src/shared/layouts/dashboard-layouts/PrintingContext.tsx
  src/shared/multiline-output/MultilineOutput.tsx
  src/shared/page-break/PageBreak.tsx
  src/shared/page-break/index.ts
  src/shared/section-guide/SectionGuide.tsx
  src/shared/tab/TabLink.tsx
  src/shared/tabs/Tabs.tsx
  src/shared/utils/usePrinting.ts
Due: import-sort --write, prettier --write

chore: bump react and react-dom
  package.json
  yarn.lock
Due: prettier --write

chore: bump storybook to 6.0.21
  .storybook/main.js
  .storybook/preview.js
  package.json
  src/stories/Button.stories.tsx
  src/stories/Button.tsx
  src/stories/Header.stories.tsx
  src/stories/Header.tsx
  src/stories/Introduction.stories.mdx
  src/stories/Page.stories.tsx
  src/stories/Page.tsx
  src/stories/assets/code-brackets.svg
  src/stories/assets/colors.svg
  src/stories/assets/comments.svg
  src/stories/assets/direction.svg
  src/stories/assets/flow.svg
  src/stories/assets/plugin.svg
  src/stories/assets/repo.svg
  src/stories/assets/stackalt.svg
  src/stories/button.css
  src/stories/config-i18n-selector.ts
  src/stories/global-decorators/StorybookStyles.tsx
  src/stories/global-decorators/index.ts
  src/stories/global-decorators/themeDecorator.tsx
  src/stories/header.css
  src/stories/page.css
  yarn.lock
Due: import-sort --write, prettier --write

chore: add global theme decorator
  src/core/snackbar/Snackbar.stories.tsx
  src/pages/peer-review-page/projectsTab/project-expansion-panel/PeerReviewProjectExpansionPanel.stories.tsx
  src/pages/peer-review-page/projectsTab/projects-form/PeerReviewProjectsForm.stories.tsx
  src/pages/result-page/ResultCommentOutput.stories.tsx
  src/pages/result-page/ResultCommentOutput.tsx
  src/shared/board-list/BoardList.stories.tsx
  src/shared/confirm-button/ConfirmButton.stories.tsx
  src/shared/criteria-output/CriteriaOutput.stories.tsx
  src/shared/criterion-item/CriterionItem.stories.tsx
  src/shared/criterion-output-item/CriterionOutputItem.stories.tsx
  src/shared/danger-button/DangerButton.stories.tsx
  src/shared/error/OverlayError.stories.tsx
  src/shared/evaluation-output/EvaluationOutput.stories.tsx
  src/shared/forminator/__stories__/ArrayInput.stories.tsx
  src/shared/forminator/__stories__/Complex.stories.tsx
  src/shared/forminator/__stories__/ConditionalSection.stories.tsx
  src/shared/forminator/__stories__/DictInput.stories.tsx
  src/shared/forminator/__stories__/FragmentRef.stories.tsx
  src/shared/forminator/__stories__/LimitedTextAreaInput.stories.tsx
  src/shared/forminator/__stories__/SelectAutoComplete.stories.tsx
  src/shared/forminator/__stories__/SelectInput.stories.tsx
  src/shared/forminator/__stories__/StringInput.stories.tsx
  src/shared/full-page-error/FullPageError.stories.tsx
  src/shared/in-view/InView.stories.tsx
  src/shared/layouts/dashboard-layouts/DashboardLayout.stories.tsx
  src/shared/multiline-output/MultilineOutput.stories.tsx
  src/shared/overlay/Overlay.stories.tsx
  src/shared/overlayscrollbars/Overlayscrollbars.stories.tsx
  src/shared/progress/CircularProgress.stories.tsx
  src/shared/progress/LinearProgress.stories.tsx
  src/shared/rating/Rating.stories.tsx
  src/shared/reacteroids/Reacteroids.stories.tsx
  src/shared/section-guide/SectionGuide.stories.tsx
  src/shared/select/Select.stories.tsx
  src/shared/sticky-action-bar/StickyActionBar.stories.tsx
  src/shared/strengths-weaknesses/StrenghesOrWeaknesses.stories.tsx
  src/shared/user-card/UserCard.stories.tsx
  src/stories/decorators/index.ts
  src/stories/decorators/themeDecorator.tsx
  src/stories/global-decorators/themeDecorator.tsx
Due: import-sort --write, prettier --write

chore: remove generated stories
  src/stories/Button.stories.tsx
  src/stories/Button.tsx
  src/stories/Header.stories.tsx
  src/stories/Header.tsx
  src/stories/Introduction.stories.mdx
  src/stories/Page.stories.tsx
  src/stories/Page.tsx
  src/stories/button.css
  src/stories/direction-state.ts
  src/stories/header.css
  src/stories/helpers/DirectionState.ts
  src/stories/helpers/index.ts
  src/stories/page.css
  src/stories/sample.stories.tsx
Due: import-sort --write, prettier --write

chore: bump clsx from 1.0.4 to 1.1.1
  package.json
  yarn.lock
Due: prettier --write

chore: bump clsx from 1.0.4 to 1.1.1 (#300)
  package.json
  yarn.lock
Due: prettier --write

chore: remove storybook-addon-selector
  package.json
  yarn.lock
Due: prettier --write

chore: remove storybook-addon-selector (#301)
  package.json
  yarn.lock
Due: prettier --write

chore: bump husky from 4.2.5 to 4.3.0
  package.json
  yarn.lock
Due: prettier --write

chore: bump husky from 4.2.5 to 4.3.0 (#302)
  package.json
  yarn.lock
Due: prettier --write

chore: bump lint-staged from 10.2.2 to 10.4.0
  package.json
  yarn.lock
Due: prettier --write

chore: bump @material-ui/core and @material-ui/lab to 5.0.0-alpha.10
  package.json
  src/core/snackbar/Snackbar.stories.tsx
  src/core/theme/themes.ts
  src/pages/dashboard-page/LinkButton.tsx
  src/pages/peer-review-page/PersonInfoCard.tsx
  src/pages/peer-review-page/projectsTab/PeerReviewProjectsResult.tsx
  src/pages/peer-review-page/projectsTab/project-expansion-panel/PeerReviewProjectExpansionPanel.tsx
  src/pages/projects-page/ProjectExpansionPanel.tsx
  src/pages/result-page/criteria-result-page/CriterionResultExpansionPanel.tsx
  src/pages/result-page/project-result-page/ProjectResultExpansionPanel.tsx
  src/pages/result-page/strengths-weaknesses-result-page/StrengthsWeaknessResultExpansionPanel.tsx
  src/pages/start-page/NoPeerReviewPage.tsx
  src/pages/start-page/ResultStartCard.tsx
  src/pages/start-page/StartReviewCard.tsx
  src/shared/auth/LoginForm.tsx
  src/shared/button/Button.stories.tsx
  src/shared/button/Button.tsx
  src/shared/button/index.ts
  src/shared/confirm-button/ConfirmButton.tsx
  src/shared/danger-button/DangerButton.tsx
  src/shared/error/OverlayError.tsx
  src/shared/expansion-panel/Accordion.tsx
  src/shared/expansion-panel/AccordionDetails.tsx
  src/shared/expansion-panel/AccordionSummary.tsx
  src/shared/expansion-panel/ExpansionPanelDetails.tsx
  src/shared/expansion-panel/index.ts
  src/shared/forminator/inputs/SelectAutoComplete.tsx
  src/shared/forminator/inputs/SelectMultiAutoComplete.tsx
  src/shared/forminator/utils/SubmitButton.tsx
  src/shared/gift-dialog/GiftDialog.tsx
  src/shared/helper-text/HelperText.tsx
  src/shared/page-break/PageBreak.tsx
  src/shared/progress/CircularProgress.tsx
  src/shared/sticky-action-bar/StickyActionBar.stories.tsx
  src/shared/tabs/Tabs.tsx
  yarn.lock
Due: import-sort --write, prettier --write

fix: mend broken yarn.lock file
  package.json
  yarn.lock
Due: prettier --write

chore: update schema
  schema.graphql
Due: none

refactor: create PersonInfoCardHeader component
  src/containers/main/MainRoutes.tsx
  src/pages/peer-review-page/PersonInfoCard.tsx
  src/shared/person-info-card-header/CardHeaderUserAvatar.tsx
  src/shared/person-info-card-header/PersonInfoCardHeader.tsx
  src/shared/person-info-card-header/index.ts
Due: import-sort --write, prettier --write

refactor: create PersonInfoCard component
  src/pages/peer-review-page/PeerReviewPage.tsx
  src/pages/peer-review-page/PersonInfoCard.tsx
  src/shared/person-info-card/PersonInfoCard.tsx
  src/shared/person-info-card/index.ts
Due: import-sort --write, prettier --write

refactor: rename PersonInfoCard to PeerReviewPersonInfoCard
  src/pages/peer-review-page/PeerReviewPage.tsx
  src/pages/peer-review-page/PeerReviewPersonInfoCard.tsx
Due: import-sort --write, prettier --write

refactor: move EmptyList component to shared folder
  src/pages/peer-review-board-page/PeerReviewBoardPage.tsx
  src/shared/board-list/EmptyList.tsx
  src/shared/board-list/index.ts
Due: import-sort --write, prettier --write

chore: change MangerReviewPage layout to match peer review
  src/containers/main/MainRoutes.tsx
  src/pages/manager-review-page/ManagerReviewContent.tsx
  src/pages/manager-review-page/ManagerReviewMemberList.tsx
  src/pages/manager-review-page/ManagerReviewNoUserContent.tsx
  src/pages/manager-review-page/ManagerReviewPage.tsx
Due: import-sort --write, prettier --write

feat: create ReviewItemOutput component
  src/core/theme/themes.ts
  src/locales/en/messages.po
  src/locales/fa/messages.po
  src/shared/review-item-output/ReviewItemOutput.stories.tsx
  src/shared/review-item-output/ReviewItemOutput.tsx
  src/shared/review-item-output/index.ts
Due: import-sort --write, prettier --write

refactor: use ReviewItemOutput instead of ResultCommentOutput
  src/pages/result-page/ResultCommentOutput.stories.tsx
  src/pages/result-page/ResultCommentOutput.tsx
  src/pages/result-page/criteria-result-page/CriterionResultRatingGroup.tsx
  src/pages/result-page/project-result-page/ProjectResultRatingGroup.tsx
  src/pages/result-page/strengths-weaknesses-result-page/StrengthsWeaknessResultExpansionPanel.tsx
Due: import-sort --write, prettier --write

refactor: move criteria result related components to shared
  src/pages/result-page/ResultPrintPage.tsx
  src/pages/result-page/criteria-result-page/CriteriaResultPage.tsx
  src/shared/criteria-result/CriteriaResult.tsx
  src/shared/criteria-result/CriterionResultExpansionPanel.tsx
  src/shared/criteria-result/CriterionResultRatingGroup.tsx
  src/shared/criteria-result/index.ts
Due: import-sort --write, prettier --write

Path conditions:
  import-sort --write: any of: **/*.{ts,tsx,js,jsx}
  prettier --write: any of: **/*.{js,jsx,ts,tsx,json,css,scss,md}
