Repository kgolezardi/Performance-Review-Web: changes, and which lint-staged commands are due for each by the changed paths.
All: import-sort --write, prettier --write

.lintstagedrc:

'**/*.{ts,tsx,js,jsx}':
  - 'import-sort --write'

'**/*.{js,jsx,ts,tsx,json,css,scss,md}':
  - 'prettier --write'

chore: bump @babel/core from 7.8.3 to 7.9.0
  package.json
  yarn.lock
Due: prettier --write

chore: install import-sort-parser-typescript
  .importsortrc
  package.json
  yarn.lock
Due: prettier --write

chore: bump react-scripts from 3.3.1 to 3.4.1
  package.json
  yarn.lock
Due: prettier --write

chore: bump typescript from 3.7.2 to 3.8.3
  package.json
  yarn.lock
Due: prettier --write

chore: bump prettier from 1.19.1 to 2.0.1
  .lintstagedrc
  package.json
  yarn.lock
Due: prettier --write

chore: init enum-generator-script
  package.json
  relay-enum-generator.ts
  src/enums.ts
Due: import-sort --write, prettier --write

chore: clean up code
  package.json
  relay-enum-generator.ts
  src/enums.ts
  yarn.lock
Due: import-sort --write, prettier --write

chore: install relay-enum-generator version 0.0.1
  package.json
  yarn.lock
Due: prettier --write

chore: add relay-enums-generator script to package.json
  package.json
Due: prettier --write

chore: update PeerStartReviewContent
  src/pages/start-review-page/PeerStartReviewContent.mdx
Due: none

feat: add counterDisplayThreshold prop to LimitedTextAreaInput component
  src/shared/forminator/inputs/LimitedTextAreaInput.tsx
Due: import-sort --write, prettier --write

chore: update maxChars and counterDisplayTheshold on LimitedTextAreaInput
  src/pages/peer-review-page/projectsTab/projects-form/PeerReviewProjectsForm.tsx
  src/pages/projects-page/ProjectForm.tsx
  src/shared/constants/index.ts
  src/shared/criterion-item/CriterionItem.tsx
  src/shared/strengths-weaknesses/StrengthsOrWeaknesses.tsx
Due: import-sort --write, prettier --write

fix: fix MultilineOutput issue which text would not break
  src/shared/multiline-output/MultilineOutput.tsx
Due: import-sort --write, prettier --write

chore: revert pull-request #255, and use invalidateStore instead
  src/App.tsx
  src/containers/main/NavbarUser.tsx
  src/relay-runtime.d.ts
  src/relay/RelayEnvironmentContext.tsx
  src/relay/environments.ts
  src/relay/index.ts
  src/stories/decorators/RelayDecorator.tsx
Due: import-sort --write, prettier --write

move config to logout.mutation
  src/containers/main/NavbarUser.tsx
  src/containers/main/logout.mutation.ts
Due: import-sort --write, prettier --write

Invalidate Store (#278)
  src/App.tsx
  src/containers/main/NavbarUser.tsx
  src/containers/main/logout.mutation.ts
  src/relay-runtime.d.ts
  src/relay/RelayEnvironmentContext.tsx
  src/relay/environments.ts
  src/relay/index.ts
  src/stories/decorators/RelayDecorator.tsx
Due: import-sort --write, prettier --write

upgrade react router dom 5.2
  package.json
  src/react-router.d.ts
  src/shared/router/Router.tsx
  yarn.lock
Due: import-sort --write, prettier --write

upgrade react router dom 5.2 (#284)
  package.json
  src/react-router.d.ts
  src/shared/router/Router.tsx
  yarn.lock
Due: import-sort --write, prettier --write

upgrade react, relay
  package.json
  public/index.html
  src/index.tsx
  src/react-dom-experimental.d.ts
  src/shared/members-list/MembersList.tsx
  src/shared/router/Router.tsx
  yarn.lock
Due: import-sort --write, prettier --write

upgrade react, relay (#285)
  package.json
  public/index.html
  src/index.tsx
  src/react-dom-experimental.d.ts
  src/shared/members-list/MembersList.tsx
  src/shared/router/Router.tsx
  yarn.lock
Due: import-sort --write, prettier --write

update prettier husky lint-staged
  package.json
  yarn.lock
Due: prettier --write

form codes with prettier
  src/pages/dashboard-page/PerformanceCompetenciesCircularIndicator.tsx
  src/pages/manager-review-page/ManagerReviewProjects.tsx
  src/pages/peer-review-page/PersonInfoCard.tsx
  src/pages/peer-review-page/projectsTab/PeerReviewProjectsTab.tsx
  src/pages/peer-review-page/projectsTab/project-expansion-panel/PeerReviewProjectExpansionPanel.tsx
  src/pages/projects-page/AddProjectForm.tsx
  src/pages/projects-page/ProjectsPage.tsx
  src/pages/start-review-page/StartReviewCard.tsx
  src/pages/strengths-weaknesses-page/ArrayValuePrompt.tsx
  src/pages/strengths-weaknesses-page/StrengthsWeaknessesPage.tsx
  src/relay/fetchQuery.ts
  src/relay/helpers/commitMutation.ts
  src/serviceWorker.ts
  src/shared/auth/Login.tsx
  src/shared/forminator/core/fragment/FragmentContext.ts
  src/shared/forminator/core/owner/getFragmentsFinalValues.ts
  src/shared/forminator/core/subscribable/getSubscribableValue.ts
  src/shared/forminator/core/subscribable/useReadonlySubscribableValue.ts
  src/shared/forminator/core/subscribable/useWritableSubscribableValue.ts
  src/shared/forminator/core/utils/subscribeFragments.ts
  src/shared/forminator/inputs/SelectAutoComplete.tsx
  src/shared/forminator/inputs/SelectInput.tsx
  src/shared/forminator/inputs/SelectMultiAutoComplete.tsx
  src/shared/forminator/inputs/StringInput.tsx
  src/shared/forminator/inputs/array-input/ArrayOutput.tsx
  src/shared/forminator/inputs/array-input/ArrayOwner.ts
  src/shared/forminator/inputs/array-input/arrayReducer.ts
  src/shared/forminator/utils/Form.tsx
  src/shared/overlayscrollbars/Overlayscrollbars.tsx
  src/shared/project-input/ProjectInput.tsx
  src/shared/project-output/ProjectCommentsOutput.tsx
  src/shared/prompt/Prompt.stories.tsx
  src/shared/prompt/PromptProvider.tsx
  src/shared/reviewers-input/ReviewersInput.tsx
  src/shared/utils/getOptionsFromDictionary.ts
  src/shared/utils/groupChildrenByType.utils.ts
  src/stories/config-i18n-selector.ts
  src/stories/decorators/mockRelayDecorator.tsx
Due: import-sort --write, prettier --write

update babel-plugin-relay
  package.json
  yarn.lock
Due: prettier --write

update babel-plugin-relay (#287)
  package.json
  yarn.lock
Due: prettier --write

refactor help-text
  src/pages/criteria-page/CriteriaForm.tsx
  src/shared/criteria-help-text/CriteriaHelpText.tsx
  src/shared/criteria-help-text/help-texts/peer-review/ExecutionContent.mdx
  src/shared/criteria-help-text/help-texts/peer-review/LeadershipContent.mdx
  src/shared/criteria-help-text/help-texts/peer-review/OrganizationCultureAdoptionContent.mdx
  src/shared/criteria-help-text/help-texts/peer-review/PresenceContent.mdx
  src/shared/criteria-help-text/help-texts/peer-review/ProblemSolvingContent.mdx
  src/shared/criteria-help-text/help-texts/peer-review/ThoughtLeadershipContent.mdx
  src/shared/criteria-help-text/help-texts/self-review/ExecutionContent.mdx
  src/shared/criteria-help-text/help-texts/self-review/LeadershipContent.mdx
  src/shared/criteria-help-text/help-texts/self-review/OrganizationCultureAdoptionContent.mdx
  src/shared/criteria-help-text/help-texts/self-review/PresenceContent.mdx
  src/shared/criteria-help-text/help-texts/self-review/ProblemSolvingContent.mdx
  src/shared/criteria-help-text/help-texts/self-review/ThoughtLeadershipContent.mdx
  src/shared/criteria-help-text/index.ts
Due: import-sort --write, prettier --write

add result page
  src/containers/main/MainRoutes.tsx
  src/pages/result-page/ResultPage.tsx
  src/pages/result-page/criteria-result-page/CriteriaResult.tsx
  src/pages/result-page/criteria-result-page/CriteriaResultPage.tsx
  src/pages/result-page/criteria-result-page/CriterionResultGroup.tsx
  src/pages/result-page/criteria-result-page/CriterionResultRatingGroup.tsx
  src/pages/result-page/project-result-page/ProjectResultRationGroup.tsx
  src/pages/result-page/project-result-page/ProjectsResult.tsx
  src/pages/result-page/project-result-page/ProjectsResultPage.tsx
  src/pages/result-page/strength-weaknesses-result-page/StrengthsWeaknessesResult.tsx
  src/pages/result-page/strength-weaknesses-result-page/StrengthsWeaknessesResultItem.tsx
  src/pages/result-page/strength-weaknesses-result-page/StrengthsWeaknessesResultPage.tsx
Due: import-sort --write, prettier --write

feat: add ResultCommentOutput
  src/locales/en/messages.po
  src/locales/fa/messages.po
  src/pages/result-page/ResultCommentOutput.stories.tsx
  src/pages/result-page/ResultCommentOutput.tsx
  src/shared/multiline-output/MultilineOutput.tsx
Due: import-sort --write, prettier --write

feat: improve criteria-result-page layout
  src/locales/en/messages.po
  src/locales/fa/messages.po
  src/pages/result-page/criteria-result-page/CriteriaResult.tsx
  src/pages/result-page/criteria-result-page/CriteriaResultPage.tsx
  src/pages/result-page/criteria-result-page/CriterionResultExpansionPanel.tsx
  src/pages/result-page/criteria-result-page/CriterionResultGroup.tsx
  src/pages/result-page/criteria-result-page/CriterionResultRatingGroup.tsx
  src/pages/result-page/criteria-result-page/DescriptionCriteriaResultPage.mdx
  src/shared/expansion-panel/ExpansionPanel.tsx
  src/shared/multiline-output/MultilineOutput.tsx
Due: import-sort --write, prettier --write

feat: improve strengths-weakness-result-page layout
  src/pages/result-page/ResultPage.tsx
  src/pages/result-page/strength-weaknesses-result-page/StrengthsWeaknessesResult.tsx
  src/pages/result-page/strength-weaknesses-result-page/StrengthsWeaknessesResultItem.tsx
  src/pages/result-page/strengths-weaknesses-result-page/StrengthsWeaknessResultExpansionPanel.tsx
  src/pages/result-page/strengths-weaknesses-result-page/StrengthsWeaknessesResult.tsx
  src/pages/result-page/strengths-weaknesses-result-page/StrengthsWeaknessesResultPage.tsx
Due: import-sort --write, prettier --write

feat: improve project-result-page layout
  src/locales/en/messages.po
  src/locales/fa/messages.po
  src/pages/result-page/project-result-page/ProjectResultExpansionPanel.tsx
  src/pages/result-page/project-result-page/ProjectResultRatingGroup.tsx
  src/pages/result-page/project-result-page/ProjectResultRationGroup.tsx
  src/pages/result-page/project-result-page/ProjectsResult.tsx
  src/pages/result-page/project-result-page/ProjectsResultPage.tsx
  src/shared/quote-box/QuoteBox.tsx
Due: import-sort --write, prettier --write

Result Phase (#289)
  src/containers/main/MainRoutes.tsx
  src/locales/en/messages.po
  src/locales/fa/messages.po
  src/pages/result-page/ResultCommentOutput.stories.tsx
  src/pages/result-page/ResultCommentOutput.tsx
  src/pages/result-page/ResultPage.tsx
  src/pages/result-page/criteria-result-page/CriteriaResult.tsx
  src/pages/result-page/criteria-result-page/CriteriaResultPage.tsx
  src/pages/result-page/criteria-result-page/CriterionResultExpansionPanel.tsx
  src/pages/result-page/criteria-result-page/CriterionResultRatingGroup.tsx
  src/pages/result-page/criteria-result-page/DescriptionCriteriaResultPage.mdx
  src/pages/result-page/project-result-page/ProjectResultExpansionPanel.tsx
  src/pages/result-page/project-result-page/ProjectResultRatingGroup.tsx
  src/pages/result-page/project-result-page/ProjectsResultPage.tsx
  src/pages/result-page/strengths-weaknesses-result-page/StrengthsWeaknessResultExpansionPanel.tsx
  src/pages/result-page/strengths-weaknesses-result-page/StrengthsWeaknessesResult.tsx
  src/pages/result-page/strengths-weaknesses-result-page/StrengthsWeaknessesResultPage.tsx
  src/shared/expansion-panel/ExpansionPanel.tsx
  src/shared/multiline-output/MultilineOutput.tsx
  src/shared/quote-box/QuoteBox.tsx
Due: import-sort --write, prettier --write

feat: add ResultStartPage
  src/containers/main/MainRoutes.tsx
  src/locales/en/messages.po
  src/locales/fa/messages.po
  src/pages/start-page/BlackQuote.tsx
  src/pages/start-page/NoPeerReviewContent.mdx
  src/pages/start-page/NoPeerReviewPage.tsx
  src/pages/start-page/PeerStartReviewContent.mdx
  src/pages/start-page/PeerStartReviewPage.tsx
  src/pages/start-page/ResultStartCard.tsx
  src/pages/start-page/ResultStartPage.tsx
  src/pages/start-page/ResultStartPageContent.mdx
  src/pages/start-page/SelfStartReviewContent.mdx
  src/pages/start-page/SelfStartReviewPage.tsx
  src/pages/start-page/StartReviewCard.tsx
  src/pages/start-page/start-review.mutation.ts
Due: import-sort --write, prettier --write
