Repository kgolezardi/Performance-Review-Web: changes, and which lint-staged commands are due for each by the changed paths.
All: import-sort --write, prettier --write

.lintstagedrc:

'**/*.{ts,tsx,js,jsx}':
  - 'import-sort --write'

'**/*.{js,jsx,ts,tsx,json,css,scss,md}':
  - 'prettier --write'

feat: use logo urls from api
  schema.graphql
  src/containers/main/MainContainer.tsx
  src/core/settings/SettingsContext.tsx
  src/core/settings/SettingsProvider.tsx
  src/shared/auth/Login.tsx
Due: import-sort --write, prettier --write

fix: get reviewers from active round
  src/pages/projects-page/ProjectsPage.tsx
  src/shared/layouts/dashboard-layouts/menu/NavBarMenuItem.tsx
Due: import-sort --write, prettier --write

refactor: changed achievements tab order
  src/pages/self-review-page/SelfReviewPage.tsx
Due: import-sort --write, prettier --write

refactor: project review title input
  package.json
  schema.graphql
  src/locales/en/messages.po
  src/locales/fa/messages.po
  src/pages/dashboard-page/AchievementsIndicators.tsx
  src/pages/dashboard-page/DashboardPage.tsx
  src/pages/manager-review-dashboard/ManagerReviewDashboardDrawerContent.tsx
  src/pages/manager-review-page/achievements/ManagerReviewAchievementsExpansionPanel.tsx
  src/pages/peer-review-page/projectsTab/PeerReviewProjectsResult.tsx
  src/pages/peer-review-page/projectsTab/project-expansion-panel/PeerReviewProjectExpansionPanel.tsx
  src/pages/projects-page/AddProjectForm.tsx
  src/pages/projects-page/ProjectExpansionPanel.tsx
  src/pages/projects-page/ProjectForm.tsx
  src/pages/projects-page/ProjectsPage.tsx
  src/pages/projects-page/createProjectReview.mutaion.ts
  src/pages/projects-page/editProjectReview.mutation.ts
  src/pages/projects-page/project-review-title-editor/ProjectReviewEditForm.tsx
  src/pages/projects-page/project-review-title-editor/ProjectReviewTitleModal.tsx
  src/pages/projects-page/project-review-title-editor/index.ts
  src/pages/projects-page/saveProjectReview.mutation.ts
  src/pages/result-page/project-result-page/ProjectResultExpansionPanel.tsx
  src/shared/hooks/index.ts
  src/shared/hooks/use-boolean-state.test.tsx
  src/shared/hooks/use-boolean-state.ts
  src/shared/hooks/use-dialog.test.ts
  src/shared/hooks/use-dialog.ts
  src/shared/project-input/ProjectInput.tsx
  src/shared/project-input/index.ts
  src/shared/project-input/types.d.ts
  src/shared/project-output/ProjectOutput.tsx
  src/shared/utils/product.test.ts
  src/shared/utils/product.ts
  yarn.lock
Due: import-sort --write, prettier --write

chore: add hook utils
  package.json
  src/shared/hooks/dialog.stories.tsx
  src/shared/hooks/index.ts
  src/shared/hooks/useBooleanState.test.tsx
  src/shared/hooks/useBooleanState.ts
  src/shared/hooks/useDialog.test.ts
  src/shared/hooks/useDialog.ts
  src/shared/utils/product.test.ts
  src/shared/utils/product.ts
  yarn.lock
Due: import-sort --write, prettier --write

refactor: changed project review input to text field
  schema.graphql
  src/locales/en/messages.po
  src/locales/fa/messages.po
  src/pages/dashboard-page/AchievementsIndicators.tsx
  src/pages/manager-review-dashboard/ManagerReviewDashboardDrawerContent.tsx
  src/pages/manager-review-page/achievements/ManagerReviewAchievementsExpansionPanel.tsx
  src/pages/peer-review-page/projectsTab/PeerReviewProjectsResult.tsx
  src/pages/peer-review-page/projectsTab/project-expansion-panel/PeerReviewProjectExpansionPanel.tsx
  src/pages/projects-page/AddProjectForm.tsx
  src/pages/projects-page/ProjectExpansionPanel.tsx
  src/pages/projects-page/ProjectForm.tsx
  src/pages/projects-page/ProjectsPage.tsx
  src/pages/projects-page/createProjectReview.mutaion.ts
  src/pages/projects-page/editProjectReview.mutation.ts
  src/pages/projects-page/saveProjectReview.mutation.ts
  src/pages/result-page/project-result-page/ProjectResultExpansionPanel.tsx
  src/shared/project-input/ProjectInput.tsx
  src/shared/project-input/index.ts
  src/shared/project-input/types.d.ts
  src/shared/project-output/ProjectOutput.tsx
Due: import-sort --write, prettier --write

Change project to activity
  src/locales/en/messages.po
  src/locales/fa/messages.po
  src/pages/projects-page/AddProjectForm.tsx
  src/pages/projects-page/DescriptionContent.mdx
  src/pages/projects-page/ProjectForm.tsx
Due: import-sort --write, prettier --write

Add ** before untranslated texts
  src/locales/en/messages.po
  src/locales/fa/messages.po
Due: none

Add ** before untranslated texts
  src/locales/en/messages.po
  src/locales/fa/messages.po
  src/pages/projects-page/ProjectForm.tsx
Due: import-sort --write, prettier --write

fix: logos
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.png.jpg
  src/assets/logo-light.png
  src/assets/logo.png
  src/containers/main/MainContainer.tsx
  src/shared/auth/Login.tsx
Due: import-sort --write, prettier --write

fix: specify tags for docker push
  scripts/docker_push_dev.sh
Due: none

Run i18n:extract
  src/locales/en/messages.po
  src/locales/fa/messages.po
Due: none

feat: edit project title
  src/containers/main/getMenuItems.ts
  src/locales/en/messages.po
  src/locales/fa/messages.po
  src/pages/dashboard-page/DashboardPage.tsx
  src/pages/projects-page/ProjectExpansionPanel.tsx
  src/pages/projects-page/project-review-title-editor/ProjectReviewEditForm.tsx
  src/pages/projects-page/project-review-title-editor/ProjectReviewTitleModal.tsx
  src/pages/projects-page/project-review-title-editor/index.ts
Due: import-sort --write, prettier --write

feat: guides
  schema.graphql
  src/AppRouter.tsx
  src/core/guides/GuidesContext.tsx
  src/core/guides/GuidesProvider.tsx
  src/core/guides/index.ts
  src/locales/en/messages.po
  src/locales/fa/messages.po
  src/pages/behavioral-competencies-page/BehavioralCompetenciesForm.tsx
  src/pages/projects-page/ProjectForm.tsx
  src/shared/guide/Guide.tsx
  src/shared/guide/GuideDialog.tsx
  src/shared/guide/index.ts
Due: import-sort --write, prettier --write

Change UX writings to dovvom shakhs mofrad
  src/locales/fa/messages.po
  src/pages/behavioral-competencies-page/help-texts/self-review/DescriptionContent.mdx
  src/pages/strengths-weaknesses-page/DescriptionContentSelfReview.mdx
  src/shared/behavioral-competency-help-text/help-texts/peer-review/OrganizationCultureAdoptionContent.mdx
  src/shared/behavioral-competency-help-text/help-texts/self-review/ExecutionContent.mdx
  src/shared/behavioral-competency-help-text/help-texts/self-review/LeadershipContent.mdx
  src/shared/behavioral-competency-help-text/help-texts/self-review/OrganizationCultureAdoptionContent.mdx
  src/shared/behavioral-competency-help-text/help-texts/self-review/PresenceContent.mdx
  src/shared/behavioral-competency-help-text/help-texts/self-review/ProblemSolvingContent.mdx
  src/shared/behavioral-competency-help-text/help-texts/self-review/ThoughtLeadershipContent.mdx
Due: none

Change performance evaluation to performance review
  public/index.html
  src/locales/fa/messages.po
  src/pages/behavioral-competencies-page/help-texts/peer-review/DescriptionContent.mdx
  src/pages/peer-review-page/projectsTab/Guide.mdx
  src/pages/strengths-weaknesses-page/DescriptionContentPeerReview.mdx
Due: none

Refactor texts a bit
  src/locales/en/messages.po
  src/locales/fa/messages.po
  src/pages/manager-review-page/ManagerReviewProgress.tsx
  src/pages/projects-page/AddProjectForm.tsx
  src/pages/projects-page/ProjectForm.tsx
  src/shared/project-output/ProjectCommentOutput.tsx
  src/shared/project-output/ProjectOutput.tsx
Due: import-sort --write, prettier --write

Run yarn i18n extract
  src/locales/en/messages.po
  src/locales/fa/messages.po
Due: none

fix: achievement tab in peer review
  src/pages/peer-review-page/PeerReviewPage.tsx
Due: import-sort --write, prettier --write

feat: ability to delete select component value
  src/shared/forminator/inputs/SelectInput.tsx
Due: import-sort --write, prettier --write

Improve competencies and dominant characteristics UX writings (#387)
  public/index.html
  src/locales/en/messages.po
  src/locales/fa/messages.po
  src/pages/behavioral-competencies-page/help-texts/peer-review/DescriptionContent.mdx
  src/pages/behavioral-competencies-page/help-texts/self-review/DescriptionContent.mdx
  src/pages/manager-review-page/ManagerReviewProgress.tsx
  src/pages/peer-review-page/projectsTab/Guide.mdx
  src/pages/projects-page/AddProjectForm.tsx
  src/pages/projects-page/ProjectForm.tsx
  src/pages/strengths-weaknesses-page/DescriptionContentPeerReview.mdx
  src/pages/strengths-weaknesses-page/DescriptionContentSelfReview.mdx
  src/shared/behavioral-competency-help-text/help-texts/peer-review/OrganizationCultureAdoptionContent.mdx
  src/shared/behavioral-competency-help-text/help-texts/self-review/ExecutionContent.mdx
  src/shared/behavioral-competency-help-text/help-texts/self-review/LeadershipContent.mdx
  src/shared/behavioral-competency-help-text/help-texts/self-review/OrganizationCultureAdoptionContent.mdx
  src/shared/behavioral-competency-help-text/help-texts/self-review/PresenceContent.mdx
  src/shared/behavioral-competency-help-text/help-texts/self-review/ProblemSolvingContent.mdx
  src/shared/behavioral-competency-help-text/help-texts/self-review/ThoughtLeadershipContent.mdx
  src/shared/project-output/ProjectCommentOutput.tsx
  src/shared/project-output/ProjectOutput.tsx
Due: import-sort --write, prettier --write

Improve UX writings for peer review phase
  src/locales/en/messages.po
  src/locales/fa/messages.po
  src/pages/behavioral-competencies-page/help-texts/peer-review/DescriptionContent.mdx
  src/pages/peer-review-page/projectsTab/Guide.mdx
  src/pages/peer-review-page/projectsTab/projects-form/PeerReviewProjectsForm.tsx
  src/pages/projects-page/ProjectForm.tsx
  src/pages/strengths-weaknesses-page/DescriptionContentPeerReview.mdx
  src/shared/behavioral-competency-help-text/help-texts/peer-review/OrganizationCultureAdoptionContent.mdx
  src/shared/behavioral-competency-help-text/help-texts/peer-review/PresenceContent.mdx
Due: import-sort --write, prettier --write

fix: use react-markdown for guides
  src/pages/behavioral-competencies-page/BehavioralCompetenciesForm.tsx
  src/pages/projects-page/ProjectForm.tsx
Due: import-sort --write, prettier --write

fix: title of `Accomplishments Description`
  src/locales/en/messages.po
  src/locales/fa/messages.po
  src/pages/projects-page/ProjectForm.tsx
Due: import-sort --write, prettier --write

Improve UX writings for peer review phase (#391)
  src/locales/en/messages.po
  src/locales/fa/messages.po
  src/pages/behavioral-competencies-page/help-texts/peer-review/DescriptionContent.mdx
  src/pages/peer-review-page/projectsTab/Guide.mdx
  src/pages/peer-review-page/projectsTab/projects-form/PeerReviewProjectsForm.tsx
  src/pages/projects-page/ProjectForm.tsx
  src/pages/strengths-weaknesses-page/DescriptionContentPeerReview.mdx
  src/shared/behavioral-competency-help-text/help-texts/peer-review/OrganizationCultureAdoptionContent.mdx
  src/shared/behavioral-competency-help-text/help-texts/peer-review/PresenceContent.mdx
Due: import-sort --write, prettier --write

fix: achievement tab in peer review (#389)
  src/pages/peer-review-page/PeerReviewPage.tsx
Due: import-sort --write, prettier --write

feat: ability to delete select component value (#390)
  src/shared/forminator/inputs/SelectInput.tsx
Due: import-sort --write, prettier --write

fix: use react-markdown for guides (#388)
  src/locales/en/messages.po
  src/locales/fa/messages.po
  src/pages/behavioral-competencies-page/BehavioralCompetenciesForm.tsx
  src/pages/projects-page/ProjectForm.tsx
Due: import-sort --write, prettier --write

fix: redirect to achivement tab in peer review
  src/pages/peer-review-page/PeerReviewPage.tsx
Due: import-sort --write, prettier --write

fix: redirect to achivement tab in peer review (#392)
  src/pages/peer-review-page/PeerReviewPage.tsx
Due: import-sort --write, prettier --write

Add docker compose to run developmental API server
  .gitignore
  README.md
  docker/docker-compose.yml
  docker/sample.env
Due: prettier --write

Add docker compose to run developmental API server (#374)
  .gitignore
  README.md
  docker/docker-compose.yml
  docker/sample.env
Due: prettier --write

Use Github Actions instead of Travis
  .github/workflows/node-ci.yml
  .github/workflows/node-publish.yml
  .travis.yml
  scripts/docker_build.sh
  scripts/docker_build_dev.sh
  scripts/docker_push.sh
  scripts/docker_push_dev.sh
Due: none

feat: template place protocol
  README.md
  src/_config/install.ts
Due: import-sort --write, prettier --write

fix: change project name
  src/pages/projects-page/project-review-title-editor/ProjectReviewEditForm.tsx
Due: import-sort --write, prettier --write

fix: limit the number of projects and reviewers
  src/locales/en/messages.po
  src/locales/fa/messages.po
  src/pages/projects-page/AddProjectForm.tsx
  src/pages/projects-page/ProjectForm.tsx
  src/pages/projects-page/ProjectsPage.tsx
  src/shared/forminator/inputs/SelectMultiAutoComplete.tsx
  src/shared/reviewers-input/ReviewersInput.tsx
Due: import-sort --write, prettier --write
